<form method="post" action="{{ forgot_password_url }}">
    <p>
        <label for="user_login">Username or Email Address<br>
        <input type="text" name="user_login" id="user_login"></label>
    </p>
    <p class="submit">
        <input type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="Get New Password">
    </p>
</form>
