{% extends "base.twig" %}

{% block content %}
<h2>Profil von {{ user.name }}</h2>

<form id="user-profile-form">
    <!-- Formularelemente für Benutzerinformationen und Charaktereigenschaften -->
</form>
{% endblock %}
