<footer>
    <p>Thank you for being a part of {{company}}.</p>
    <p>If you have any questions, please <a href="mailto:support@yourcompany.com">contact us</a>.</p>
    <p>&copy; {{year}} {{company}}. All rights reserved.</p>
</footer>
</body>
</html>
