@use '../base' as *;

/* -------------------------------- 

File#: _1_icon-features
Title: Icon Features
Descr: A list features featuring an icon
Usage: codyhouse.co/license

-------------------------------- */

.icon-feature {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, alpha(var(--color-accent), 0.3), alpha(var(--color-accent), 0.05));
  box-shadow: inset 0 1px alpha(--color-white, 0.1);
}