@use '../base' as *;
@use '_1_smooth-scrolling.scss' as *;
@use '_2_table-of-contents.scss' as *;

/* -------------------------------- 

File#: _3_how-it-works-v4
Title: How It Works v4
Descr: A list of steps showing how a product works
Usage: codyhouse.co/license

-------------------------------- */

