@use '../base' as *;

/* -------------------------------- 

File#: _1_background-decoration-v4
Title: Background Decoration v4
Descr: A collection of geometry background decorations
Usage: codyhouse.co/license

-------------------------------- */

.bg-decoration-v4 {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-decoration-v4__svg {
  position: absolute;
  width: 114%;
  min-width: 1280px;
  max-width: 1440px;
  height: auto;
}