@use '../base' as *;

/* -------------------------------- 

File#: _1_link-effects
Title: Link Effects
Descr: A collection of link effects
Usage: codyhouse.co/license

-------------------------------- */

// v1
.link-fx-1 {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 32px; // !important - set fixed height
  padding: 0 6px;
  text-decoration: none;
  @include fontSmooth;

  .icon {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(100%) rotate(90deg);
    font-size: 32px; // icon size = link size 👆

    circle {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      transition: stroke-dashoffset .2s;
    }

    line {
      transition: transform .4s;
      transform-origin: 13px 15px;
    }

    line:last-child {
      transform-origin: 19px 15px;
    }
  }

  &::before { // border bottom
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform-origin: right center;
    transition: transform .2s .1s;
  }

  &:hover {
    .icon {
      circle {
        stroke-dashoffset: 200;
        transition: stroke-dashoffset .2s .1s;
      }

      line {
        transform: rotate(-180deg);
      }

      line:last-child {
        transform: rotate(180deg);
      }
    }

    &::before {
      transform: translateX(17px) scaleX(0);
      transition: transform .2s;
    }
  }
}